footer{
  margin: 1em;
  lost-utility: clearfix;
}

.icons {
  lost-column: 1/4;
  width: calc(40px + 1vw);
  height: 5vw;
  margin-top: 0.5em;
}

svg:hover #circle {
  fill: #F44336;
}

#circle {
  transition: 700ms;
}
.icon-wrapper {
  display: flex;
  lost-utility: clearfix;
  align-items: center;
  lost-row: 1/2;
  justify-content: center;
}

#trademark {
  lost-row: 1/2;
}
