.navbarAvatar {
  margin: 0.5em;
  transition: 700ms;
  transform: rotate(45deg);
}

.navbarAvatar:hover {
  transform: rotate(0deg);
}
.navbarAvatar.a {
  color: #F44336;
}
.link{
  text-transform: uppercase;
  margin: 0 0.7em 0 0;
  font-size:calc(12px + 0.5vw);
  color: #212121;
  font-weight: 400;
}

.link:hover{
  color: #F44336;
  text-decoration: none;
  transition: 300ms;
  cursor: pointer;
}

.activated {
  & span{
    color: #F44336;
    text-decoration: none;
    }
}
